body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../Arrière\ plan.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo img {
    background-image: url('../Arrière\ plan.png');
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color :#fac003
}

.container {
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    border-bottom: 1px solid rgb(253, 251, 251);
    background-color: rgb(10, 10, 10);
}

.profile-pic {
    margin-left: auto;
    margin-right: 0;
}

.profile-pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.search-bar {
    flex: 1;
    margin-right: 5px;
    outline: none;
    outline-offset: 2px; 
    
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #faf5f5;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-button {
    padding: 8px 16px;
    background-color: rgb(250, 205, 5);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 17px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fac003;
    box-shadow: -2px 0 5px rgba(14, 13, 13, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 30px 30px;
    box-sizing: border-box;
    z-index: 1000;
}

.menu.open {
    transform: translateX(0);
}

.menu nav ul {
    list-style-type: none;
    padding: 0;
}

.menu nav ul li {
    margin: 15px 0;
    border-bottom: 1px solid #f7cb3b;
}

.content {
    padding: 20px;
    margin-top: 35px;
    position: relative;
    background-color: rgb(252, 202, 4);
    z-index: 900;
}

input:focus {
    outline: 2px solid #f0c872; 
    outline-offset: 2px;
}

label {
    color: hwb(0 95% 5%);
}

.content h1 {
    text-align: left;
}

.content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}

.form-group input,
.form-group select,
.form-group button {
    width: 100%;
    background-color: #f5dc89;
    padding: 8px;
    border: 1px solid #f3f0e0;
    border-radius: 9px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 3, 3)
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: rgb(5, 5, 5);
    color: rgb(247, 181, 2);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content table th,
.content table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #f8f3f3;
}

.add-link {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: black;
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding: 1px 11px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 11000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu.open+.add-link {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(246, 246, 248);
}

.identifiant {
    margin-top: -25px;
}

.option {
    display: block;
}

.options {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
}

@media (max-width:768px) {
    .profile-pic {
        margin-left: 20px;
    }
    
    .menu .logo {
        display: block;
    }
}

@media (max-width:768px) and (orientation:landscape) {
    .container {
        width: 60%;
    }

    .search-bar {
        margin-right: 20px;
    }

    .profile-pic {
        margin-left: 20px;
    }

    .form-group select option {
        width: 100%;
    }
}

@media (min-width:1024px) {
    .container {
        width: 40%;
    }

    .search-bar {
        flex: none;
        width: 200px;
    }

    .profile-pic {
        margin-left: auto;
        margin-right: 0;
    }
}